---
import Layout from '../layouts/Layout.astro';
import Categories from '../components/Categories.astro';
---


<Layout>
    <h1>Menú Sakura</h1>
    <Categories />
</Layout>

<style>
    h1 {
        padding-left: 1rem;
        padding-top: 20px;
    }
</style>

